# packages in environment at /shared/data2/bowenj4/miniconda3/envs/faiss_1.7.4:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                  2_kmp_llvm    conda-forge
abseil-cpp                20211102.0           h27087fc_1    conda-forge
absl-py                   2.0.0                    pypi_0    pypi
accelerate                0.25.0                   pypi_0    pypi
aiohttp                   3.9.1            py38h01eb140_0    conda-forge
aiosignal                 1.3.1              pyhd8ed1ab_0    conda-forge
annotated-types           0.6.0                    pypi_0    pypi
anyio                     3.5.0            py38h06a4308_0  
argon2-cffi               21.3.0             pyhd3eb1b0_0  
argon2-cffi-bindings      21.2.0           py38h7f8727e_0  
arrow-cpp                 11.0.0               hda39474_2  
asn1crypto                1.5.1                    pypi_0    pypi
asttokens                 2.0.5              pyhd3eb1b0_0  
async-lru                 2.0.4            py38h06a4308_0  
async-timeout             4.0.3              pyhd8ed1ab_0    conda-forge
attrs                     23.2.0             pyh71513ae_0    conda-forge
aws-c-common              0.4.57               he6710b0_1  
aws-c-event-stream        0.1.6                h2531618_5  
aws-checksums             0.1.9                he6710b0_0  
aws-sdk-cpp               1.8.185              hce553d0_0  
babel                     2.11.0           py38h06a4308_0  
backcall                  0.2.0              pyhd3eb1b0_0  
backoff                   2.2.1                    pypi_0    pypi
beautifulsoup4            4.12.2           py38h06a4308_0  
blas                      1.0                         mkl  
bleach                    4.1.0              pyhd3eb1b0_0  
blobfile                  2.1.1                    pypi_0    pypi
boost-cpp                 1.73.0              h7f8727e_12  
brotli-python             1.0.9            py38h6a678d5_7  
bzip2                     1.0.8                h7b6447c_0  
c-ares                    1.24.0               hd590300_0    conda-forge
ca-certificates           2023.12.12           h06a4308_0  
certifi                   2023.11.17       py38h06a4308_0  
cffi                      1.15.1           py38h74dc2b5_0  
charset-normalizer        2.0.4              pyhd3eb1b0_0  
click                     8.1.7           unix_pyh707e725_0    conda-forge
colorama                  0.4.6              pyhd8ed1ab_0    conda-forge
comm                      0.1.2            py38h06a4308_0  
contourpy                 1.1.1                    pypi_0    pypi
cryptography              41.0.3           py38h130f0dd_0  
cudatoolkit               11.3.1               h2bc3f7f_2  
cycler                    0.12.1                   pypi_0    pypi
dataclasses               0.8                pyhc8e2a94_3    conda-forge
dataclasses-json          0.6.3                    pypi_0    pypi
datasets                  2.12.0           py38h06a4308_0  
dbus                      1.13.18              hb2f20db_0  
debugpy                   1.6.7            py38h6a678d5_0  
decorator                 5.1.1              pyhd3eb1b0_0  
defusedxml                0.7.1              pyhd3eb1b0_0  
dill                      0.3.6            py38h06a4308_0  
distro                    1.9.0                    pypi_0    pypi
evals                     0.1.1                    pypi_0    pypi
evaluate                  0.4.1                    pypi_0    pypi
executing                 0.8.3              pyhd3eb1b0_0  
expat                     2.5.0                h6a678d5_0  
faiss                     1.7.4           py38cuda112h48d0473_0_cuda    conda-forge
faiss-gpu                 1.7.4                h788eb59_0    conda-forge
ffmpeg                    4.3                  hf484d3e_0    pytorch
filelock                  3.13.1             pyhd8ed1ab_0    conda-forge
fire                      0.5.0                    pypi_0    pypi
fontconfig                2.14.1               h52c9d5c_1  
fonttools                 4.47.0                   pypi_0    pypi
freetype                  2.12.1               h4a9f257_0  
frozenlist                1.4.1            py38h01eb140_0    conda-forge
fsspec                    2023.10.0          pyhca7485f_0    conda-forge
gflags                    2.2.2             he1b5a44_1004    conda-forge
giflib                    5.2.1                h5eee18b_3  
glib                      2.69.1               h4ff587b_1  
glog                      0.5.0                h48cff8f_0    conda-forge
gmp                       6.2.1                h295c915_3  
gnutls                    3.6.15               he1e5248_0  
greenlet                  3.0.3                    pypi_0    pypi
grpc-cpp                  1.48.2               h5bf31a4_0  
gst-plugins-base          1.14.0               hbbd80ab_1  
gstreamer                 1.14.1               h5eee18b_1  
h11                       0.14.0                   pypi_0    pypi
httpcore                  1.0.2                    pypi_0    pypi
httpx                     0.26.0                   pypi_0    pypi
huggingface-hub           0.20.2                   pypi_0    pypi
icu                       58.2                 he6710b0_3  
idna                      3.4              py38h06a4308_0  
importlib-metadata        7.0.1              pyha770c72_0    conda-forge
importlib_metadata        7.0.1                hd8ed1ab_0    conda-forge
importlib_resources       6.1.1            py38h06a4308_0  
intel-openmp              2021.4.0          h06a4308_3561  
ipykernel                 6.25.0           py38h2f386ee_0  
ipython                   8.12.2           py38h06a4308_0  
ipywidgets                8.0.4            py38h06a4308_0  
jedi                      0.18.1           py38h06a4308_1  
jinja2                    3.1.2            py38h06a4308_0  
joblib                    1.3.2              pyhd8ed1ab_0    conda-forge
jpeg                      9e                   h5eee18b_1  
json5                     0.9.6              pyhd3eb1b0_0  
jsonlines                 4.0.0                    pypi_0    pypi
jsonpatch                 1.33                     pypi_0    pypi
jsonpointer               2.4                      pypi_0    pypi
jsonschema                4.19.2           py38h06a4308_0  
jsonschema-specifications 2023.7.1         py38h06a4308_0  
jupyter                   1.0.0            py38h06a4308_8  
jupyter-lsp               2.2.0            py38h06a4308_0  
jupyter_client            8.6.0            py38h06a4308_0  
jupyter_console           6.6.3            py38h06a4308_0  
jupyter_core              5.5.0            py38h06a4308_0  
jupyter_events            0.8.0            py38h06a4308_0  
jupyter_server            2.10.0           py38h06a4308_0  
jupyter_server_terminals  0.4.4            py38h06a4308_1  
jupyterlab                4.0.8            py38h06a4308_0  
jupyterlab_pygments       0.1.2                      py_0  
jupyterlab_server         2.25.1           py38h06a4308_0  
jupyterlab_widgets        3.0.9            py38h06a4308_0  
keyutils                  1.6.1                h166bdaf_0    conda-forge
kiwisolver                1.4.5                    pypi_0    pypi
krb5                      1.20.1               hf9c8cef_0    conda-forge
lame                      3.100                h7b6447c_0  
langchain                 0.1.0                    pypi_0    pypi
langchain-community       0.0.9                    pypi_0    pypi
langchain-core            0.1.7                    pypi_0    pypi
langdetect                1.0.9                    pypi_0    pypi
langsmith                 0.0.77                   pypi_0    pypi
lcms2                     2.12                 h3be6417_0  
ld_impl_linux-64          2.38                 h1181459_1  
lerc                      3.0                  h295c915_0  
libblas                   3.9.0            12_linux64_mkl    conda-forge
libboost                  1.73.0              h28710b8_12  
libbrotlicommon           1.0.9                h166bdaf_9    conda-forge
libbrotlidec              1.0.9                h166bdaf_9    conda-forge
libbrotlienc              1.0.9                h166bdaf_9    conda-forge
libcblas                  3.9.0            12_linux64_mkl    conda-forge
libcurl                   8.2.1                h91b91d3_0  
libdeflate                1.17                 h5eee18b_1  
libedit                   3.1.20230828         h5eee18b_0  
libev                     4.33                 hd590300_2    conda-forge
libevent                  2.1.10               h9b69904_4    conda-forge
libfaiss                  1.7.4           cuda112hb18a002_0_cuda    conda-forge
libfaiss-avx2             1.7.4           cuda112h1234567_0_cuda    conda-forge
libffi                    3.3                  he6710b0_2  
libgcc-ng                 13.2.0               h807b86a_3    conda-forge
libgfortran-ng            13.2.0               h69a702a_3    conda-forge
libgfortran5              13.2.0               ha4646dd_3    conda-forge
libiconv                  1.16                 h7f8727e_2  
libidn2                   2.3.4                h5eee18b_0  
liblapack                 3.9.0            12_linux64_mkl    conda-forge
libnghttp2                1.52.0               ha637b67_1  
libpng                    1.6.39               h5eee18b_0  
libprotobuf               3.20.3               he621ea3_0  
libsodium                 1.0.18               h7b6447c_0  
libssh2                   1.10.0               h37d81fd_2  
libstdcxx-ng              13.2.0               h7e041cc_3    conda-forge
libtasn1                  4.19.0               h5eee18b_0  
libthrift                 0.15.0               he6d91bd_0    conda-forge
libtiff                   4.5.1                h6a678d5_0  
libunistring              0.9.10               h27cfd23_0  
libuuid                   1.41.5               h5eee18b_0  
libwebp                   1.3.2                h11a3e52_0  
libwebp-base              1.3.2                h5eee18b_0  
libxcb                    1.15                 h7f8727e_0  
libxml2                   2.9.14               h74e7548_0  
llvm-openmp               14.0.6               h9e868ea_0  
lxml                      4.9.4                    pypi_0    pypi
lz4                       4.3.3                    pypi_0    pypi
lz4-c                     1.9.4                h6a678d5_0  
markupsafe                2.1.3            py38h5eee18b_0  
marshmallow               3.20.1                   pypi_0    pypi
matplotlib                3.7.4                    pypi_0    pypi
matplotlib-inline         0.1.6            py38h06a4308_0  
mistune                   2.0.4            py38h06a4308_0  
mkl                       2021.4.0           h06a4308_640  
mkl-service               2.4.0            py38h7f8727e_0  
mkl_fft                   1.3.1            py38hd3c417c_0  
mkl_random                1.2.2            py38h51133e4_0  
mock                      5.1.0                    pypi_0    pypi
multidict                 6.0.4            py38h01eb140_1    conda-forge
multiprocess              0.70.14                  pypi_0    pypi
mypy                      1.8.0                    pypi_0    pypi
mypy-extensions           1.0.0                    pypi_0    pypi
nbclient                  0.8.0            py38h06a4308_0  
nbconvert                 7.10.0           py38h06a4308_0  
nbformat                  5.9.2            py38h06a4308_0  
ncurses                   6.4                  h6a678d5_0  
nest-asyncio              1.5.6            py38h06a4308_0  
nettle                    3.7.3                hbbd107a_1  
networkx                  3.1                      pypi_0    pypi
nltk                      3.8.1              pyhd8ed1ab_0    conda-forge
notebook                  7.0.6            py38h06a4308_0  
notebook-shim             0.2.3            py38h06a4308_0  
numpy                     1.24.3           py38h14f4228_0  
numpy-base                1.24.3           py38h31eccc5_0  
openai                    1.6.1                    pypi_0    pypi
openh264                  2.1.1                h4ff587b_0  
openjpeg                  2.4.0                h3ad879b_0  
openssl                   1.1.1w               h7f8727e_0  
orc                       1.7.4                hb3bc3d3_1  
overrides                 7.4.0            py38h06a4308_0  
packaging                 23.2               pyhd8ed1ab_0    conda-forge
pandas                    2.0.3            py38h01efb38_1    conda-forge
pandocfilters             1.5.0              pyhd3eb1b0_0  
parso                     0.8.3              pyhd3eb1b0_0  
pcre                      8.45                 h295c915_0  
pexpect                   4.8.0              pyhd3eb1b0_3  
pickleshare               0.7.5           pyhd3eb1b0_1003  
pillow                    10.0.1           py38ha6cbd5a_0  
pip                       23.3.1           py38h06a4308_0  
pkgutil-resolve-name      1.3.10           py38h06a4308_0  
platformdirs              4.1.0              pyhd8ed1ab_0    conda-forge
pooch                     1.8.0              pyhd8ed1ab_0    conda-forge
portalocker               2.8.2                    pypi_0    pypi
prometheus_client         0.14.1           py38h06a4308_0  
prompt-toolkit            3.0.36           py38h06a4308_0  
prompt_toolkit            3.0.36               hd3eb1b0_0  
protobuf                  4.25.1                   pypi_0    pypi
psutil                    5.9.0            py38h5eee18b_0  
ptyprocess                0.7.0              pyhd3eb1b0_2  
pure_eval                 0.2.2              pyhd3eb1b0_0  
pyarrow                   11.0.0           py38h468efa6_1  
pyarrow-hotfix            0.6                pyhd8ed1ab_0    conda-forge
pycparser                 2.21               pyhd3eb1b0_0  
pycryptodomex             3.19.1                   pypi_0    pypi
pydantic                  1.10.9                   pypi_0    pypi
pydantic-core             2.10.1                   pypi_0    pypi
pygments                  2.15.1           py38h06a4308_1  
pyjwt                     2.8.0                    pypi_0    pypi
pyopenssl                 23.2.0           py38h06a4308_0  
pyparsing                 3.1.1                    pypi_0    pypi
pyqt                      5.9.2            py38h05f1152_4  
pysocks                   1.7.1            py38h06a4308_0  
python                    3.8.2               hcff3b4d_14  
python-dateutil           2.8.2              pyhd8ed1ab_0    conda-forge
python-fastjsonschema     2.16.2           py38h06a4308_0  
python-json-logger        2.0.7            py38h06a4308_0  
python-tzdata             2023.4             pyhd8ed1ab_0    conda-forge
python-xxhash             3.4.1            py38h01eb140_0    conda-forge
python_abi                3.8                      2_cp38    conda-forge
pytorch                   1.12.1          py3.8_cuda11.3_cudnn8.3.2_0    pytorch
pytorch-mutex             1.0                        cuda    pytorch
pytz                      2023.3.post1       pyhd8ed1ab_0    conda-forge
pyyaml                    6.0.1            py38h01eb140_1    conda-forge
pyzmq                     25.1.0           py38h6a678d5_0  
pyzstd                    0.15.9                   pypi_0    pypi
qt                        5.9.7                h5867ecd_1  
qtconsole                 5.5.0            py38h06a4308_0  
qtpy                      2.4.1            py38h06a4308_0  
re2                       2022.04.01           h27087fc_0    conda-forge
readline                  8.2                  h5eee18b_0  
referencing               0.30.2           py38h06a4308_0  
regex                     2023.12.25       py38h01eb140_0    conda-forge
requests                  2.31.0           py38h06a4308_0  
responses                 0.13.3             pyhd3eb1b0_0  
rfc3339-validator         0.1.4            py38h06a4308_0  
rfc3986-validator         0.1.1            py38h06a4308_0  
rouge-score               0.1.2                    pypi_0    pypi
rpds-py                   0.10.6           py38hb02cf49_0  
sacrebleu                 2.4.0                    pypi_0    pypi
sacremoses                0.0.53             pyhd8ed1ab_0    conda-forge
safetensors               0.3.3            py38h0cc4f7c_1    conda-forge
scikit-learn              1.3.2            py38ha25d942_2    conda-forge
scipy                     1.10.1           py38h59b608b_3    conda-forge
send2trash                1.8.2            py38h06a4308_0  
sentence-transformers     2.2.2              pyhd8ed1ab_0    conda-forge
sentencepiece             0.1.99           py38hdb19cb5_0  
setuptools                68.2.2           py38h06a4308_0  
sip                       4.19.13          py38h295c915_0  
six                       1.16.0             pyhd3eb1b0_1  
snappy                    1.1.10               h9fff704_0    conda-forge
sniffio                   1.2.0            py38h06a4308_1  
snowflake-connector-python 3.6.0                    pypi_0    pypi
sortedcontainers          2.4.0                    pypi_0    pypi
soupsieve                 2.5              py38h06a4308_0  
sqlalchemy                2.0.24                   pypi_0    pypi
sqlite                    3.33.0               h62c20be_0  
stack_data                0.2.0              pyhd3eb1b0_0  
tabulate                  0.9.0                    pypi_0    pypi
tenacity                  8.2.3                    pypi_0    pypi
termcolor                 2.4.0                    pypi_0    pypi
terminado                 0.17.1           py38h06a4308_0  
threadpoolctl             3.2.0              pyha21a80b_0    conda-forge
tiktoken                  0.5.2                    pypi_0    pypi
tinycss2                  1.2.1            py38h06a4308_0  
tk                        8.6.12               h1ccaba5_0  
tokenizers                0.15.0                   pypi_0    pypi
tomli                     2.0.1            py38h06a4308_0  
tomlkit                   0.12.3                   pypi_0    pypi
torchaudio                0.12.1               py38_cu113    pytorch
torchvision               0.13.1               py38_cu113    pytorch
tornado                   6.3.3            py38h5eee18b_0  
tqdm                      4.66.1             pyhd8ed1ab_0    conda-forge
traitlets                 5.7.1            py38h06a4308_0  
transformers              4.36.2                   pypi_0    pypi
typing-extensions         4.7.1            py38h06a4308_0  
typing-inspect            0.9.0                    pypi_0    pypi
typing_extensions         4.7.1            py38h06a4308_0  
urllib3                   1.26.18          py38h06a4308_0  
utf8proc                  2.6.1                h27cfd23_0  
wcwidth                   0.2.5              pyhd3eb1b0_0  
webencodings              0.5.1                    py38_1  
websocket-client          0.58.0           py38h06a4308_4  
wheel                     0.41.2           py38h06a4308_0  
widgetsnbextension        4.0.5            py38h06a4308_0  
xxhash                    0.8.2                hd590300_0    conda-forge
xz                        5.4.5                h5eee18b_0  
yaml                      0.2.5                h7f98852_2    conda-forge
yarl                      1.9.3            py38h01eb140_0    conda-forge
zeromq                    4.3.4                h2531618_0  
zipp                      3.17.0             pyhd8ed1ab_0    conda-forge
zlib                      1.2.13               h5eee18b_0  
zstd                      1.5.5                hc292b87_0  
